{
  "parser": "babel-eslint",
  "extends": ["standard", "plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    "space-before-function-paren": 0,
    "indent": [1, 2],
    "no-console": 2
  }
}
