.kebabful {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.x--full-screen {
  width: 100vw;
}

.x--two-thirds {
  width: 67vw;
}

.x--one-third {
  right: 0 !important;
  width: 33vw;
}

.x--zero {
  width: 0;
  padding: 0 !important;
}
