html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #252B31;
  font-size: 36px;
  margin-bottom: 10px;
}

.link {
  color: #4E95CF;
  text-decoration: underline;
}
